# Directories

.vs/
Binaries/
Build/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
Makefile

# Exclude
!Vendor/Binaries

.vscode/

CMakeFiles/

CMakeCache.txt

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

CMakeDoxygenDefaults.cmake

CMakeDoxyfile.in
